#header
{
	height:20%;
	width:100%;
	border:1px solid;
	text-align:center;
	
}

h1
{

	font-size:450%
}

#menu
{
}

#MinDiv
{
}

#center
{
	display:table;
	margin-left:auto;
	margin-right:auto;
	width:300px;

}

.table
{
	margin-top:50px;
}

.table-row
{
	display:table-row;
}

.table-cell
{
		display:table-cell;
}


/* ------------------
 styling for the tables 
   ------------------   */

table
{
	border-collapse:collapse;
}

tr
{
	border:1px solid black;
}
th
{
	text-align: left;
}


.border-less
{
	border:none;
}


